<script lang="ts">
    import {Fa,faCartShopping} from '@utility/Fontawesome'
    import {goto} from "$app/navigation";
    import {CART_COLLECTION } from "./cart";
    import {appwrite, DATABASE} from "../../utility/Appwrite";
    let cartSize = 0;
    appwrite.databases.listDocuments(DATABASE,CART_COLLECTION).then(x=>cartSize=x.total);
    const cartItemsChannel = `databases.${DATABASE}.collections.${CART_COLLECTION}.documents`;
    appwrite.client.subscribe([cartItemsChannel], payload=>{
        if(payload.events.indexOf(`${cartItemsChannel}.*.create`)!==-1){
            cartSize++;
        }
        else if(payload.events.indexOf(`${cartItemsChannel}.*.delete`)!==-1){
            cartSize--;
        }
    });
</script>

<button class="text-gray-400 hover:text-white px-1" on:click={()=>goto('/cart')}>
<Fa icon={faCartShopping} class="inline-block"/>
    {#if cartSize>0}
    <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-blue-100 text-blue-800"> {cartSize} </span>
        {/if}

</button>
