<script lang="ts">
    import {appwrite, DATABASE} from "@utility/Appwrite"
    import {CART_COLLECTION} from "./cart";
    import type {CartItem} from "./cart";
    import {COMMODITIES_COLLECTION} from "../commodity/commodity";
    import type {Commodity} from '@component/commodity/commodity';
    import {Fa, faTrash, faCartShopping} from "@utility/Fontawesome";
    import {formatCurrency} from "@utility/Currency";
    import {account} from '@utility/Stores';

    type DetailedCartItem = CartItem & Commodity;
    $: currencyPreference = $account.prefs.currency||'auto'

    const cartItemsPromise: Promise<DetailedCartItem[]> = appwrite.databases.listDocuments<CartItem>(DATABASE,CART_COLLECTION).then(response => {
        const ids = new Set(response.documents.map(x => x.commodityId));
        const requests = [...ids.values()].map(id => appwrite.databases.getDocument<Commodity>(DATABASE,COMMODITIES_COLLECTION, id));
        return Promise.all(requests).then((x) => {
            return {cis: response.documents, commodities: x}
        });
    }).then(({cis, commodities}) => {
        const commodityMap = commodities.reduce<Map<string, Commodity>>((map, commodity) => {
            map.set(commodity.$id, commodity);
            return map;
        }, new Map<string, Commodity>());
        cartItems = cis.map(ci => {
            return {...commodityMap.get(ci.commodityId), ...ci}
        });
    });
    let cartItems: DetailedCartItem[] = [];

    $: total = cartItems.reduce((total, cartItem) => total + (cartItem.cost * cartItem.quantity), 0);

    function removeCartItem(cartItem: DetailedCartItem) {
        appwrite.databases.deleteDocument(DATABASE,CART_COLLECTION, cartItem.$id).then(() => {
            cartItems = cartItems.filter(x => x !== (cartItem));
        });
    }

</script>
{#await cartItemsPromise}
{:then response}
    <div>
        {#each cartItems as cartItem}
            <div class="flex flex-row class w-full hover:bg-gray-50 p-1">
                <b class="flex-1">{cartItem.name}</b>
                <p>{cartItem.cost}gp x {cartItem.quantity} = {cartItem.cost * cartItem.quantity}gp</p>
                <button class="text-red-700 border py-2 px-3 rounded-md mx-1 border-red-700"
                        on:click={()=>removeCartItem(cartItem)}>
                    <Fa icon={faTrash}/>
                </button>
            </div>
        {/each}
        {#if cartItems.length > 0}
            <hr class="my-2"/>
            <div class="flex flex-row class w-full">
                <b class="flex-1">Total</b>
                <p>{formatCurrency(total)}</p>
            </div>
        {:else}
            <div class="text-center">
                <Fa icon={faCartShopping} size="3x" class="inline text-gray-400"/>
                <h3 class="mt-2 text-sm font-medium text-gray-900">Empty Cart</h3>
                <p class="mt-1 text-sm text-gray-500">Get started by <a href="/">browsing the catalog</a> or <a
                        href="/search">searching for something specific</a>.</p>
            </div>
        {/if}
    </div>
{/await}

<style lang="postcss">
    a {
        text-decoration: underline;
    }
</style>