<script lang="ts">
    import {Fa, faImageSlash} from "@utility/Fontawesome"

    export let imageSrc;
</script>
{#if imageSrc}
    <img alt="Commodity Image" src={imageSrc} class="max-h-full">
{:else}
    <div class="block w-full min-h-[6rem] h-full bg-gray-200 text-center rounded" style="vertical-align: center">
        <Fa icon={faImageSlash} class="mx-auto h-12 w-12 relative text-gray-500 text-2xl"
            style="top: calc(50% - 12px )"/>
    </div>
{/if}