<script lang="ts">
    import type {Commodity} from "@component/commodity/commodity";

    export let commodity:Commodity;
</script>
<span class="space-x-2">

{#each commodity.path as path,index}

    <span class="text-gray-500 font-medium">{path}</span>
    {#if index!==commodity.path.length-1}
        <span class="text-gray-500 font-medium">/</span>
    {/if}
{/each}
</span>
