<script context="module">
    /** @type {import('@sveltejs/kit').Load} */
    export const load = async ({ url }) => ({ props: { url } });
</script>

<script>
    // eslint-disable-next-line no-restricted-imports,@typescript-eslint/no-restricted-imports
    import '../tailwind.css'
    import Navbar from "@component/Navbar.svelte";
    import Header from "@component/Header.svelte"
    import {appwrite} from "@utility/Appwrite";
    import {account} from "@utility/Stores";
    import {browser} from '$app/env';
    import {goto} from "$app/navigation";
    import {page} from "$app/stores";
    import { datadogRum } from '@datadog/browser-rum';
    import PageTransition from "../component/PageTransition.svelte";

    if(browser && !(datadogRum.getInitConfiguration() && datadogRum.getInitConfiguration().service)){
        datadogRum.init({
            applicationId: '87ab1b83-60b0-4134-ba4f-c673e9db043b',
            clientToken: 'pub79779d11e705f24485a5f87e9ef53151',
            site: 'datadoghq.com',
            service:'dnd-price-app',

            // Specify a version number to identify the deployed version of your application in Datadog
            // version: '1.0.0',
            sampleRate: 100,
            premiumSampleRate: 100,
            trackInteractions: true,
            defaultPrivacyLevel:'allow'
        });
        datadogRum.startSessionReplayRecording();
    }
    let verified;
    export let url={};
    const authenticatedUrl = ['/cart','/admin','/settings','/profile','/team']
    $: {
        verified = browser && url &&(authenticatedUrl.indexOf(url.pathname)===-1 || $account);
        if (browser && !$account) {

            appwrite.account.get().then((a) => {
                console.dir(a);
                verified = true;
                account.set(a);
                datadogRum.setUser({name:a.name,email:a.email,id:a.$id});
            }).catch(error => {
                console.dir(error);
                if(!verified)
                goto(`/login?next=${url.href}`).then()
            });
        }
    }
</script>

<Navbar/>
{#if url.pathname!=='/'}
<Header/>
    {/if}
<div class="max-w-7xl mx-auto bg-white shadow sm:px-6 py-6 lg:px-8 mt-5">
    {#if verified}
        <PageTransition url={url.pathname}>
            <slot/>
        </PageTransition>
    {/if}
</div>