<script lang="ts">
    import {appwrite, DATABASE} from "@utility/Appwrite";
    import {COMMODITIES_COLLECTION} from "@component/commodity/commodity";
    import {tweened} from "svelte/motion";
    import {cubicOut} from "svelte/easing";
    import type {Models} from "appwrite";

    async function processCommodities() {

        let count = 0;
        let lastCommodity = undefined;
        let commodities:Models.DocumentList<any> = undefined;
        do {
            commodities = await appwrite.databases.listDocuments(DATABASE,COMMODITIES_COLLECTION, undefined, 25, 0, lastCommodity?.$id);
            for (let commodity of commodities.documents) {
                await fetch("/api/index-commodity", {
                    method: "POST",
                    headers: {
                        "content-type": "application/json"
                    },
                    body: JSON.stringify(commodity)
                })
                lastCommodity=commodity;
                progress.set(count++ / commodities.total).then();
            }
        } while (count < commodities.total);
    }

    const progress = tweened(0, {easing: cubicOut})
    // processCommodities().then()
</script>
<progress value={$progress} class="block w-full"></progress>
<button on:click={()=>processCommodities().then()}>Process Commodities</button>