<script lang="ts">
    import {header} from "@utility/Stores";
    import List from "@component/commodity/List.svelte";
    import {goto} from "$app/navigation";
    import type {Commodity} from "@component/commodity/commodity";
    import {COMMODITIES_COLLECTION} from "@component/commodity/commodity";
    import {appwrite, DATABASE} from "@utility/Appwrite";
    import {Query} from "appwrite";

    header.set("DnD Price App");
    let query = '';

    const commoditiesPromise = appwrite.databases.listDocuments < Commodity > (DATABASE,COMMODITIES_COLLECTION, [Query.orderDesc("createdDateTime"),Query.limit(20)]);
</script>
<div class="divide-y px-1">
    <div class="mt-3 mb-3 space-y-3">
        <h2 class="font-bold text-5xl">DnD Price App</h2>
        <h4 class="text-xl text-gray-500">The #1 way to plan out your next shopping trip</h4>
    </div>
    <div class="space-y-4">
        <form on:submit|preventDefault={()=>goto(`/search?q=${query}`)} class="space-x-2 my-2 flex">
            <input class="flex-1" placeholder="Search for something" type="text" bind:value={query}>
            <button class="button text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 border-none"
                    type="submit">Search
            </button>
        </form>
        <h3 class="text-2xl text-gray-500">Recently added items</h3>

        {#await commoditiesPromise}
            <p>Loading commodities</p>
        {:then commodities}
            {#if commodities && commodities.documents}
            <List commodities={commodities.documents}/>
                {:else }
                <p>No Commodities</p>
                {/if}
        {:catch error}
            <p>Error loading commodities: {JSON.stringify(error)}</p>
        {/await}
    </div>
</div>
