<script>
    import {Fa,faSpaceStationMoonAlt,faUserHelmetSafety} from "@utility/Fontawesome";
    import {header} from "@utility/Stores";
    header.set("");
</script>

<div class="px-1 w-full">
   <div class="mx-auto text-center">

    <h1 class="text-3xl lg:text-5xl font-medium">
        <Fa icon={faSpaceStationMoonAlt} class="inline"/> Under Construction <Fa icon={faUserHelmetSafety} class="inline"/>
    </h1>
    <h3 class="text-lg text-gray-500">Uh Oh! It looks like this isn't quite ready yet but rest assured! We're hard at work
    making sure that it's the best it can be before we share it with you. Check back soon!</h3>
   </div>
</div>