<script lang="ts">

    import CommodityPath from "@component/common/CommodityPath.svelte";
    import type {SearchResult} from "@elastic/search-ui";
    import {Fa, faImageSlash} from "@utility/Fontawesome"
    export let searchResult: SearchResult;

    $: mockCommodity = {path: searchResult.path?.raw}
</script>
<div class="flex w-full space-x-3">
    <div>
        {#if searchResult.icon_url?.raw}
            <div class="w-[70px]">

                <img class='h-[40px]' src={searchResult.icon_url.raw}/>
            </div>
        {:else}
        <div class="w-[70px]">

            <div class="block w-[40px] h-[40px] bg-gray-200 text-center rounded" style="vertical-align: center">
                <Fa icon={faImageSlash} class="mx-auto h-6 w-8 relative text-gray-500"
                    style="top: calc(50% - 8px )"/>
            </div>
        </div>
        {/if}
    </div>
    <div class="flex-1">
        <p>{searchResult.name.raw}</p>
        <p class="text-xs">
            <CommodityPath commodity={mockCommodity}/>
        </p>
    </div>
    <div>
        <p class="font-medium">{searchResult.cost.raw}gp</p>
    </div>
</div>
