<script lang="ts">
    import Result from "./Result.svelte";
    import {goto} from "$app/navigation";
    import {SearchDriver} from "@elastic/search-ui";
    import AppSearchAPIConnector from "@elastic/search-ui-app-search-connector";

    const apiConnector = new AppSearchAPIConnector({
        endpointBase: "https://enterprise-search-dpa.alexk8s.com",
        searchKey: "search-6me74rfoc2vawtjskzaoudx7",
        engineName: "dpa"
    })
    let pagingEnd,totalResults,results;
    const searchDriver = new SearchDriver({apiConnector, searchQuery: {facets: {region_type: {type: "value"}}}});
    searchDriver.subscribeToStateChanges((state) => {
        pagingEnd = state.pagingEnd;
        totalResults = state.totalResults;
        results = state.results;
    });
    let query = searchDriver.state.searchTerm;
    $: {
        query ? searchDriver.getActions().setSearchTerm(query):undefined;
    }
</script>
<div class="px-3 sm:p-2">
    <input type="text" placeholder="Search" bind:value={query}>
    {#if query}
        <p class="bold text-3xl">Results</p>
            <p class="text-gray-500">Showing {pagingEnd} of {totalResults}</p>
            <ul class="divide-y">
                {#each results as searchResult}
                    {#key searchResult.id}
                        <li class="py-2 hover:bg-gray-50" on:click={()=>{searchDriver.getActions().trackClickThrough(searchResult.id.raw);goto(`/commodity/${searchResult.id.raw}`)}}>
                            <Result {searchResult}/>
                        </li>
                    {/key}
                {/each}
            </ul>
    {/if}
</div>
