<script lang="ts">
    import List from "@component/commodity/List.svelte";
    import {page} from "$app/stores"
    import {header} from "../../../utility/Stores";

    page.subscribe((page)=>header.set(getHeader(page)))

    function getHeader(page):string{
       if(page.params.id==='root'){
           switch (page.params.type){
               case 'store':
                   return 'Stores';
               case 'path':
                   return 'Categories'
           }
       }
       return page.params.id;
    }

    export let children;
    export let commodities;
</script>
<style>
    .divide-y > * {
       @apply py-3;
    }
</style>
<div class="divide-y">
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-y-8">
        {#each children as child}
            <a href={child.id}>
                <div class="mx-5 py-5 px-2 shadow-md rounded-md border-gray-300">
                    <p>{child.id} <span class="badge-gray"> {child.commodityCount+child.childCount} </span></p>
                </div>
            </a>
        {/each}
    </div>

    {#if commodities}
        <div>

        <List {commodities}/>
        </div>
    {/if}
</div>