<script lang="ts">
    import type {Commodity} from "@component/commodity/commodity";
    import CommodityImage from "@component/common/CommodityImage.svelte";
    import CommodityPath from "@component/common/CommodityPath.svelte";
    import {canEdit} from "@utility/Permission";
    import {Fa, faPencil, faTrash, faCartCirclePlus} from "@utility/Fontawesome";
    import {appwrite, DATABASE} from "@utility/Appwrite"
    import {account} from "@utility/Stores"
    import {CART_COLLECTION} from "@component/cart/cart";
    import {fly} from "svelte/transition"
    import {onDestroy} from "svelte";
    import {browser} from '$app/env'

    export let commodity: Commodity;
    let showSuccess = false;

    function deleteCommodity() {
        alert("Uh oh, you can't delete commodities yet... but coming soon!");
    }

    let hideTimeout;

    function addToCart() {
        const cartItem = {commodityId: commodity.$id, addedBy: $account.$id, quantity: 1};
        appwrite.databases.createDocument(DATABASE,CART_COLLECTION, "unique()", cartItem).then(() => {
            showSuccess = true;
            hideTimeout = setTimeout(() => showSuccess = false, 5000);
        });
    }

    onDestroy(() => {
        console.log("destroying component")
        clearTimeout(hideTimeout);
    })
    let commodityUrl;
    $: commodityUrl=browser?window.location.href:`https://dnd-price-app.alexk8s.com/commodity/${commodity.$id}`;

</script>
{#if commodity}
    <div class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-5 space-x-3 place-items-center md:place-items-stretch">
        <CommodityImage imageSrc={commodity.imageUrl}/>
        <div class="md:col-span-2 lg:col-span-3 place-self-stretch">
            <p><b>Description: </b>
                {#if commodity.description}
                    {commodity.description}
                {:else}
                    <span class="text-gray-400">*Lost in a bag of holding*</span>
                {/if}
            </p>
            <p><b>Locals: </b>
                {#each commodity.regionType as local}
                    <span class="badge-gray">{local}</span>
                {/each}
            </p>
            <div><span class="font-bold mr-1">Path: </span>
                <CommodityPath {commodity}/>
            </div>
            <div>
                <span class="font-bold mr-1">Shops</span>
                {#each commodity.storeType as shop}
                    <span class="badge-gray">{shop}</span>
                {/each}
            </div>
            <p><b>Price: </b> {commodity.cost}gp</p>
        </div>

        <div class="flex items-start justify-end flex-row">

            {#if canEdit(commodity)}
                <a href="{commodity.$id}/edit"
                   class="mx-1 grow-0 hidden md:inline-flex items-center px-3 py-2 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    <span class="pr-2"><Fa icon={faPencil}/></span>Edit</a>
                <button on:click={deleteCommodity}
                        class="grow-0 mx-1 hidden md:inline-flex items-center px-3 py-2 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                    <span class="pr-2"><Fa icon={faTrash}/></span>Delete
                </button>
            {/if}
            {#if $account}
            <button on:click={addToCart}
                    class="whitespace-pre grow-1 mx-1 inline-flex items-center px-3 py-2 border-2 border-indigo-700 shadow-sm text-sm leading-4 font-medium rounded-md text-indigo-700 bg-white hover:bg-indigo-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <span class="pr-2"><Fa icon={faCartCirclePlus}/></span>Add to Cart
            </button>
                {:else }
                <a href="/login?next={commodityUrl}"
                        class="whitespace-pre grow-1 mx-1 inline-flex items-center px-3 py-2 border-2 border-indigo-700 shadow-sm text-sm leading-4 font-medium rounded-md text-indigo-700 bg-white hover:bg-indigo-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Login to add items to a cart
                </a>
                {/if}
        </div>
    </div>
    {#if showSuccess}
        <div class="fixed bottom-0 right-0 w-full md:w-[10rem]" transition:fly="{{y:100,duration:500}}">
            <div class=" mx-4 mb-3 bg-green-700 text-white shadow-md rounded-lg flex">
                <p class="my-3 flex-1 text-center">Added to cart!</p>
            </div>
        </div>
    {/if}
{/if}