<script lang="ts">
    import {goto} from "$app/navigation";
    import CommodityImage from "@component/common/CommodityImage.svelte";
    import CommodityPath from "@component/common/CommodityPath.svelte";
    import {account} from '@utility/Stores';
    import {formatCurrency} from "@utility/Currency";
    import {Fa,faCoin,faCoins,faSackDollar} from "@utility/Fontawesome"
    import type {Commodity} from "@component/commodity/commodity";

    export let commodities:Array<Commodity>;
    let currencyPreference;
    $: currencyPreference = $account?.prefs?.currency||'auto'

    function getLowerPrice(price: number): string {
        return formatCurrency(price * .8,currencyPreference);
    }

    function getAveragePrice(price: number): string {
        return formatCurrency(price,currencyPreference);
    }

    function getHigherPrice(price: number): string {
        return formatCurrency(price * 2,currencyPreference);
    }
</script>
<div class="">
        <ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
            {#each (commodities) as commodity}
                <li class="col-span-1 flex flex-col text-center bg-white rounded-lg shadow divide-y divide-gray-200"
                    on:click={()=>goto(`/commodity/${commodity.$id}`)}>
                    <div class="flex-1 flex flex-col p-8 text-sm">
                        <div class="h-32 w-32 flex-shrink-0 mx-auto">
                            <CommodityImage imageSrc={commodity.previewUrl}/>
                        </div>
                        <h3 class="mt-6 text-gray-900 font-medium">{commodity.name}</h3>
                        <CommodityPath {commodity}/>
                    </div>
                    <div>
                        <div class="-mt-px flex divide-x divide-gray-200">
                            <div class="w-0 flex-1 flex">
                                <span class="cost text-green-700 hover:text-green-500">{getLowerPrice(commodity.cost)} <Fa class="inline pl-1" icon={faCoin}/></span>
                            </div>
                            <div class="w-0 flex-1 flex">
                                <span class="cost text-gray-700 hover:text-gray-500">{getAveragePrice(commodity.cost)} <Fa class="inline pl-1" icon={faCoins}/> </span>
                            </div>
                            <div class="w-0 flex-1 flex">
                                <span class="cost text-red-700 hover:text-red-500">{getHigherPrice(commodity.cost)} <Fa class="inline pl-1" icon={faSackDollar}/></span>
                            </div>
                        </div>
                    </div>
                </li>
            {/each}
        </ul>
</div>

<style lang="postcss">
    .cost {
        @apply relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm  font-medium border border-transparent rounded-bl-lg ;
    }
</style>