<style lang="postcss">
    input[type='checkbox'] {
        @apply focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded;
    }

    button[disabled] {
        @apply bg-gray-300;
    }

    .section {
        @apply space-y-8 divide-y divide-gray-200 sm:space-y-5;
    }

    .section-header {
        @apply text-lg leading-6 font-medium text-gray-900;
    }

    .section-description {
        @apply mt-1 max-w-2xl text-sm text-gray-500;
    }


    .section-items {
        @apply mt-6 sm:mt-5 space-y-6 sm:space-y-5;

        > div {
            @apply sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5;

            > label {
                @apply block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2;

                p {
                    @apply text-gray-500 font-normal;
                }
            }

            > div {
                @apply mt-1 sm:mt-0 sm:col-span-2;

                > input[type='text'] {
                    @apply max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md;
                }

                > div {
                    @apply max-w-lg w-full flex shadow-sm sm:text-sm ;

                    > * {
                        @apply border-gray-300 rounded-md border;
                    }

                    > :first-child {
                        @apply rounded-r-none border-r-0;
                    }

                    > :last-child {
                        @apply rounded-l-none;
                    }

                    > span {
                        @apply inline-flex px-3 bg-gray-50 text-gray-500 items-center;
                    }

                    > input {
                        @apply flex-1 block w-full;
                    }

                }

            }
        }
    }

</style>
<script lang="ts">
    import Dropzone from "svelte-file-dropzone";
    import {appwrite, DATABASE} from "@utility/Appwrite"
    import type {Commodity} from "@component/commodity/commodity";
    import Modal from "@component/Modal.svelte";
    import {goto} from "$app/navigation";
    import {COMMODITIES_BUCKET, COMMODITIES_COLLECTION} from "@component/commodity/commodity";
    import {account, header} from "@utility/Stores";
    import {Permission, Role} from "appwrite";


    export let commodity: Commodity = {};
    $: commodityPhotoUrl = commodity.photo ? appwrite.storage.getFileView(COMMODITIES_BUCKET, commodity.photo) : undefined;
    let isLoadingImage = false;
    let imageUploadError;

    function handleFileSelect(event) {
        imageUploadError = undefined;
        const {acceptedFiles, fileRejections} = event.detail;
        if (acceptedFiles && acceptedFiles.length) {
            const file = acceptedFiles[0];
            isLoadingImage = true;
            appwrite.storage.createFile(COMMODITIES_BUCKET, "unique()", file, ["role:all"]).then(photo => {
                commodity.photo = photo.$id;
                isLoadingImage = false;
                commodity.imageUrl = appwrite.storage.getFileView(COMMODITIES_BUCKET, photo.$id).toString();
                if (photo.mimeType === "image/webp") {
                    commodity.previewUrl = commodity.imageUrl;
                    commodity.iconUrl = commodity.imageUrl;
                } else {
                    commodity.previewUrl = appwrite.storage.getFilePreview(COMMODITIES_BUCKET, photo.$id, undefined, 400).toString();
                    commodity.iconUrl = appwrite.storage.getFilePreview(COMMODITIES_BUCKET, photo.$id, undefined, 40).toString();
                }
            }).catch(error => imageUploadError = error);
        }

    }

    function submit() {
        let databasePromise;
        commodity.updatedDateTime = new Date().getTime();
        if (commodity.$id) {
            const updatedCommodity = {...commodity};
            delete updatedCommodity.$id;
            delete updatedCommodity.$databaseId;
            delete updatedCommodity.$collectionId;

            databasePromise = appwrite.databases.updateDocument(DATABASE,COMMODITIES_COLLECTION, commodity.$id, updatedCommodity)
        } else {
            commodity.createdDateTime = commodity.updatedDateTime;
            databasePromise = appwrite.databases.createDocument(DATABASE,COMMODITIES_COLLECTION, "unique()", commodity, [Permission.read(Role.any()),Permission.update(Role.user($account.$id)),Permission.delete(Role.user($account.$id))]);
        }
        databasePromise.then((doc) => {
            if (!createAnother) {
                goto(`/commodity/${doc.$id}`)
            } else{
                commodity.name = undefined;
                commodity.description = undefined;
                commodity.$id = undefined;
                commodity.cost = undefined;
                clearPhoto();
            }
        })
    }

    $:{header.set(commodity.name || "New Commodity")}

    function clearPhoto(){
        commodity.photo=undefined;
        commodity.imageUrl=undefined;
        commodity.previewUrl=undefined;
        commodity.iconUrl=undefined;
    }

    export let storeTypeStringValue = "";
    $: commodity.storeType = storeTypeStringValue.split(",").map(s => s.trim());
    export let regionTypeStringValue = "Rural, Urban, Premium";
    $: commodity.regionType = regionTypeStringValue.split(",").map(s => s.trim());
    export let pathStringValue = "";
    $: commodity.path = pathStringValue.split(",").map(s => s.trim());
    let createAnother = false;

    $: validated = commodity.name && commodity.cost>0;
</script>
<Modal bind:show={isLoadingImage}>
    <p>Image is uploading!</p>
    {#if imageUploadError}
        <p class="p-2 px-3 border border-red-700 bg-red-300 text-red-700 rounded break-words">{JSON.stringify(imageUploadError)}</p>
    {/if}
</Modal>
<div class="space-y-8 divide-y divide-gray-200 ">
    <div class="space-y-8">
        <div class="section">
            <div>
                <h3 class="section-header">Description</h3>
                <p class="section-description">General details about the commodity</p>
            </div>

            <div class="section-items">
                <div>
                    <label for="name"> Commodity Name </label>
                    <div><input type="text" name="name" id="name" bind:value={commodity.name}></div>
                </div>

                <div class="section-item">
                    <label for="description"> About </label>
                    <div>
                        <textarea id="description" name="description" rows="3"
                                  class="max-w-lg shadow-sm block w-full focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border border-gray-300 rounded-md"
                                  bind:value={commodity.description}></textarea>
                        <p class="mt-2 text-sm text-gray-500">Write a brief description of the commodity.</p>
                    </div>
                </div>

                <div class="section-item">
                    <label class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Photo </label>
                    <div class="mt-1 sm:mt-0 sm:col-span-2">
                        {#if commodityPhotoUrl}
                            <img src={commodityPhotoUrl} alt={commodity.name} class="max-h-52">
                            <button on:click={()=>clearPhoto()}
                                    class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Clear Image
                            </button>
                        {:else}
                            <Dropzone disableDefaultStyles={true} on:drop={handleFileSelect} accept="image/*">
                                <div class="max-w-lg flex justify-center border-2 border-dashed rounded-md p-3 pb-4">
                                    <div class="space-y-1 text-center">
                                        <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none"
                                             viewBox="0 0 48 48" aria-hidden="true">
                                            <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                                                  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                        <div class="flex text-sm text-gray-600">
                                            <label for="file-upload"
                                                   class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                                                <span>Upload a file</span>
                                                <input id="file-upload" name="file-upload" type="file" class="sr-only">
                                            </label>
                                            <p class="pl-1">or drag and drop</p>
                                        </div>
                                        <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
                                    </div>
                                </div>
                            </Dropzone>
                        {/if}
                    </div>
                </div>
                <div>

                    <label>Limited Stock?</label>
                    <input type="checkbox"
                           bind:checked={commodity.limitedStock}>
                </div>
                <div>
                    <label>Path <p>A comma seperated list of the folder structure</p>
                        <p>i.e. "tools" or "armor, light armor"</p></label>
                    <div>
                        <input type="text" bind:value={pathStringValue}>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div>
                <p class="section-header">Shop</p>
                <p class="section-description">Where can this commodity be found?</p>
            </div>
            <div class="section-items">
                <div>
                    <label>Store Type <p>A comma seperated list of store types</p>
                        <p>i.e. "General Store" or "General Store, Herbalist Shop, Blacksmith"</p></label>
                    <div>
                        <input type="text" bind:value={storeTypeStringValue}>
                    </div>
                </div>
                <div>
                    <label>Region Type <p>A comma seperated list of region types</p>
                        <p>i.e. "Rural" or "Rural, Urban, Premium"</p></label>
                    <div>
                        <input type="text" bind:value={regionTypeStringValue}>
                    </div>
                </div>
                <div>
                    <label>Cost</label>
                    <div>
                        <div>

                            <input type="number" bind:value={commodity.cost}>
                            <span class="bg-gray-300">gp</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-5">
        <div class="flex justify-end">
            <label for="create-another" class="px-3 py-2"><input id="create-another" type="checkbox"
                                                                 bind:checked={createAnother}>Create another?</label>
            <button type="button" on:click={()=>commodity={}}
                    class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Cancel
            </button>
            <button type="submit" on:click={submit} disabled='{!validated}'
                    class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Save
            </button>
        </div>
    </div>
</div>
