<script>
    import {header} from "@utility/Stores";
</script>
<svelte:head>
   <title>{$header}</title>
</svelte:head>
<div class="bg-white shadow">
   <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold leading-tight text-gray-900">{$header}</h1>
   </div>
</div>