<script lang="ts">
import {fade} from 'svelte/transition';
import {quadIn,quadOut} from 'svelte/easing'

export let show=false;
export let canClose=true;

function onOverlayClick(event){
    if(event.path[0].id==='modal-overlay' && canClose){
        show=false;
    }
}
</script>
{#if show}
<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true" >
    <!--
      Background backdrop, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
         in:fade="{{duration:300,easing:quadOut}}"
         out:fade="{{duration:200,easing:quadIn}}"></div>

    <div class="fixed z-10 inset-0 overflow-y-auto">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0" id="modal-overlay" on:click={onOverlayClick}>
            <!-- This element is to trick the browser into centering the modal contents. -->
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

            <!--
              Modal panel, show/hide based on modal state.

              Entering: "ease-out duration-300"
                From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                To: "opacity-100 translate-y-0 sm:scale-100"
              Leaving: "ease-in duration-200"
                From: "opacity-100 translate-y-0 sm:scale-100"
                To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            -->
            <div class="relative inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-sm sm:w-full sm:p-6 z-20"
                 in:fade="{{duration:300,easing:quadOut}}"
                 out:fade="{{duration:200,easing:quadIn}}"
                    on:click={e=>e.preventDefault()}>
              <slot/>

            </div>
        </div>
    </div>
</div>
    {/if}