<script lang="ts">

    import {page} from "$app/stores";
    import {account} from "@utility/Stores"
    import {appwrite} from "@utility/Appwrite"
    import {Fa, faAlicorn, faExternalLink} from "@utility/Fontawesome";
    import CartIcon from '@component/cart/CartIcon.svelte'

    const paths = [
        {name: "Catalog", path: "/"},
        {name: "Team", path: "/team"},
        {name: "Search", path: "/search"},
        {name: "Stores", path: "/browse/store/root"},
        {name: "Categories", path: "/browse/path/root"},

    ]
    $: currentPath = $page.url.pathname;
    $: currentHref = $page.url.href;
    $: avatar = $account ? appwrite.avatars.getInitials().href : undefined;
    let showDropdown = false;
    let showMenu = false;

    function logout() {
        appwrite.account.deleteSessions().then(() => account.set(undefined));
    }
</script>
<style>

    .nav-item {
        @apply text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md font-medium;
    }

    .nav-item-current {
        @apply bg-gray-900 text-white px-3 py-2 rounded-md font-medium;
    }

    .nav-item-action {
        @apply bg-white text-gray-900 px-3 py-2 rounded-md font-medium;
    }
</style>
<nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            <div class="flex items-center">
                <div class="flex-shrink-0">
                    <a href="/">
                        <Fa icon={faAlicorn} size={'2x'} class="text-indigo-600"/>
                    </a>
                </div>
                <div class="hidden md:block">
                    <div class="ml-10 flex items-baseline space-x-4 text-sm">
                        {#each paths as path}
                            <a href={path.path} class:nav-item={currentPath!==path.path}
                               class:nav-item-current={currentPath===path.path}>{path.name}</a>
                        {/each}
                        {#if $account}

                        <a href="/commodity" class="nav-item-action">New Commodity</a>
                            {:else}
                            <a href="/login?next={currentHref}" class="nav-item-action">Login</a>
                            {/if}
                    </div>
                </div>
            </div>
            <div class="hidden md:block">
                {#if $account}
                    <div class="ml-4 flex items-center md:ml-6">
                        <a href="/cart">
                        <CartIcon/>
                        </a>

                        <!-- Profile dropdown -->
                        <div class="ml-3 relative">
                            <div>
                                <button type="button"
                                        class="max-w-xs bg-gray-800 rounded-full flex items-center text-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
                                        id="user-menu-button" aria-expanded="false" aria-haspopup="true"
                                        on:click={()=>{showDropdown=(!showDropdown)}}>
                                    <span class="sr-only">Open user menu</span>
                                    <img class="h-8 w-8 rounded-full"
                                         src={avatar}
                                         alt="">
                                </button>
                            </div>

                            <!--
                              Dropdown menu, show/hide based on menu state.

                              Entering: "transition ease-out duration-100"
                                From: "transform opacity-0 scale-95"
                                To: "transform opacity-100 scale-100"
                              Leaving: "transition ease-in duration-75"
                                From: "transform opacity-100 scale-100"
                                To: "transform opacity-0 scale-95"
                            -->
                            {#if showDropdown}
                                <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
                                     role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button"
                                     tabindex="-1">
                                    <!-- Active: "bg-gray-100", Not Active: "" -->
                                    <a href="/profile" class="block px-4 py-2 text-sm text-gray-700" role="menuitem"
                                       tabindex="-1"
                                       id="user-menu-item-0">Your Profile</a>

                                    <a href="/settings" class="block px-4 py-2 text-sm text-gray-700" role="menuitem"
                                       tabindex="-1"
                                       id="user-menu-item-1">Settings</a>
                                    <a href="https://youtrack.alexk8s.com/newIssue?project=DDPA" target="_blank" tabindex="-1" class="block px-4 py-2 text-sm text-gray-700">Report an Issue <Fa class="inline" icon={faExternalLink}/></a>

                                    <button on:click={logout} class="block px-4 py-2 text-sm text-gray-700"
                                            role="menuitem" tabindex="-1"
                                            id="user-menu-item-2">Sign out
                                    </button>
                                </div>
                            {/if}
                        </div>
                    </div>
                {/if}
            </div>
            <div class="-mr-2 flex md:hidden">
                <!-- Mobile menu button -->
                <button type="button"
                        class="bg-gray-800 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
                        aria-controls="mobile-menu" aria-expanded="false" on:click={()=>showMenu=!showMenu}>
                    <span class="sr-only">Open main menu</span>
                    <!--
                      Heroicon name: outline/menu

                      Menu open: "hidden", Menu closed: "block"
                    -->
                    {#if showMenu}
                        <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke-width="2" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                        </svg>
                    {:else }
                        <!--
                          Heroicon name: outline/x

                          Menu open: "block", Menu closed: "hidden"
                        -->
                        <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke-width="2" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"/>
                        </svg>
                    {/if}
                </button>
            </div>
        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    {#if showMenu}
        <div class="md:hidden" id="mobile-menu">
            <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                {#each paths as path}
                    <a href={path.path} class:nav-item={currentPath!==path.path} on:click={()=>showMenu=false}
                       class:nav-item-current={currentPath===path.path} class="text-base block">{path.name}</a>
                {/each}
            </div>
            {#if $account}
                <div class="pt-4 pb-3 border-t border-gray-700">
                    <div class="flex items-center px-5">
                        <div class="flex-shrink-0">
                            <img class="h-10 w-10 rounded-full"
                                 src={avatar}
                                 alt="">
                        </div>
                        <div class="ml-3">
                            <div class="text-base font-medium text-white">{$account.name}</div>
                            <div class="text-sm font-medium text-gray-400">{$account.email}</div>
                        </div>
                        <a href="/cart" class="ml-auto">
                            <CartIcon/>
                        </a>
                    </div>
                    <div class="mt-3 px-2 space-y-1">
                        <a href="/profile"
                           class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700">Your
                            Profile</a>

                        <a href="/settings"
                           class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700">Settings</a>

                        <a href="https://youtrack.alexk8s.com/newIssue?project=DDPA" target="_blank" tabindex="-1" class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700">Report an Issue <Fa class="inline" icon={faExternalLink}/></a>
                        <button on:click={logout}
                                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700">
                            Sign
                            out
                        </button>
                    </div>
                </div>
            {/if}
        </div>
    {/if}
</nav>
