<script lang="ts">
    import {fly} from 'svelte/transition'
   export let url = "";
   const pageTransitionDuration= 300;
</script>

{#key url}
    <div in:fly={{  x:-5, duration: pageTransitionDuration, delay: pageTransitionDuration *1.1}}
         out:fly={{ x: 5, duration: pageTransitionDuration }}>
        <slot />
    </div>
{/key}