<script lang="ts">
    import {appwrite} from '@utility/Appwrite';
    import {account} from '@utility/Stores'
    import {formatCurrency} from "@utility/Currency";

    const DEFAULT_PREFERENCES = {currency: 'auto'};

    $: preferences = {...DEFAULT_PREFERENCES, ...($account.prefs || {})};

    const CURRENCY_OPTIONS = [
        {title: "Copper (cp)", value: "copper"},
        {title: "Silver (sp)", value: "silver"},
        {title: "Gold (gp)", value: "gold"},
        {title: "Platinum (pp)", value: "platinum"},
        {title: "Auto (cp,sp,gp,pp)", value: "auto"}
    ];
    const CURRENCY_EXAMPLE = [
        {title:"One Gold Piece",value: 1},
        {title:"Ten Gold Pieces",value: 10},
        {title:"Fifteen Gold Pieces",value: 15},
        {title:"One Gold and Four silver",value: 1.4},
        {title:"Eight Silver Pieces",value: .8}
    ]

    function updateCurrencyPreference(preference){
        preferences.currency=preference;
        appwrite.account.updatePrefs(preferences).then();
        account.update(x=>{return {...x,prefs:preferences}})
    }

</script>
<div class="px-2">

    <h3 class="text-2xl text-gray-700 font-medium">Currency</h3>
    <p class="text-gray-400 font-medium">How would you like the currency shown (i.e. as 5 gold or 50 silver). Auto will round to the nearest decimal</p>
    <div class="md:flex md:flex-row  pt-8">
        <div class="currency-selector flex-shrink-0">
            {#each CURRENCY_OPTIONS as currencyOption}
                <div on:click={()=>updateCurrencyPreference(currencyOption.value)} class:selected={preferences.currency===currencyOption.value}><p>{currencyOption.title}</p></div>
            {/each}
        </div>
        <div class="grow-1 md:px-4 md:mt-[-2rem]">
            <h4 class="text-xl text-gray-700 font-medium pb-0.5">Examples</h4>
            <div class="grid grid-cols-3 ">
                {#each CURRENCY_EXAMPLE as example}
                    <div class="col-span-2">{example.title}</div>
                    <div >{formatCurrency(example.value,preferences.currency)}</div>
                    {/each}
            </div>
        </div>
    </div>
</div>

<style lang="postcss">
    .currency-selector {
        @apply divide-y w-full md:w-44 border rounded-md h-fit;

        div {
            @apply flex flex-col items-center w-full py-1 ;
        }
        div:not(.selected){
            @apply hover:bg-gray-100;
        }

        .selected {
            @apply bg-indigo-700 text-white hover:bg-indigo-800;
        }

        div:last-child {
            @apply rounded-b-md;
        }

        div:first-child {
            @apply rounded-t-md;
        }
    }

    .grid {
        div {
            @apply p-3 border-r border-b;
        }
        div:nth-child(1),div:nth-child(2) {
            @apply border-t;
        }
        div:nth-child(odd) {
            @apply border-l;
        }
    }
</style>