<script lang="ts">
    import {header} from "@utility/Stores";
    import {page} from "$app/stores"
    import {appwrite, DATABASE} from "@utility/Appwrite";
    import {COMMODITIES_COLLECTION} from "@component/commodity/commodity";
    import MutableCommodity from "@component/commodity/MutableCommodity.svelte";

    $: commodityPromise = appwrite.databases.getDocument(DATABASE,COMMODITIES_COLLECTION,$page.params.id).then(doc=>{header.set(doc.name);return doc})
    function stringifyArray(array:Array<string>){
       return array.join(" , ") ;
    }
    header.set("")
</script>
{#await commodityPromise}
    <p>Loading Commodity</p>
{:then commodity}
    <MutableCommodity {commodity}
                      pathStringValue={stringifyArray(commodity.path)}
                      regionTypeStringValue={stringifyArray(commodity.regionType)}
                      storeTypeStringValue={stringifyArray(commodity.storeType)}/>
{:catch error}
    <p class="font-bold text-red-700">{JSON.stringify(error)}</p>
{/await}
