<script lang="ts">
    import {header} from "@utility/Stores";
    import {page} from "$app/stores"
    import {appwrite, DATABASE} from "@utility/Appwrite";
    import {COMMODITIES_COLLECTION} from "@component/commodity/commodity";
    import Commodity from "@component/commodity/Commodity.svelte";

    $: commodityPromise = $page.params.id && appwrite.databases.getDocument(DATABASE,COMMODITIES_COLLECTION,$page.params.id).then(doc=>{header.set(doc.name);return doc;})
    header.set("")

    function formatError(error){
        console.error(error);
        return JSON.stringify(error);
    }
</script>
{#await commodityPromise}
    <p>Loading Commodity</p>
    {:then commodity}
<Commodity {commodity}/>
    {:catch error}
    <p class="font-bold text-red-700">{formatError(error)}</p>
    {/await}