@tailwind base;
@layer base {
    .button{
        @apply px-3 py-1 border-2 rounded-md hover:drop-shadow-lg hover:bg-gray-200 border-gray-400 text-sm font-medium
    }
}
@tailwind components;
@layer components {
    label {
        @apply block text-sm font-medium text-gray-700;
    }
    input[type='text']{
        @apply block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md;
    }
    .badge {
        @apply inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium;
    }
    .badge-gray{
        @apply badge bg-gray-100 text-gray-800;
    }
    .badge-red{
        @apply badge bg-red-100 text-red-800;
    }
    .badge-yellow{
        @apply badge bg-yellow-100 text-yellow-800;
    }
    .badge-green{
        @apply bage bg-green-100 text-green-800;
    }
    .badge-blue{
        @apply badge bg-blue-100 text-blue-800;
    }
    .badge-indigo{
        @apply badge bg-indigo-100 text-indigo-800;
    }
    .badge-purple{
        @apply badge bg-purple-100 text-purple-800;
    }
    .badge-pink{
        @apply badge bg-pink-100 text-pink-800;
    }
}
@tailwind utilities;

